@font-face {
  font-family: 'Ubuntu-R';
  src: url("ubuntu_font/Ubuntu-R.ttf");
}
@font-face {
  font-family: 'Ubuntu-B';
  src: url("ubuntu_font/Ubuntu-B.ttf");
}
@font-face {
  font-family: 'Ubuntu-M';
  src: url("ubuntu_font/Ubuntu-M.ttf");
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      background-color: #4CAF50;
}

body, html {
  font-family: Ubuntu-R, serif;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
/* position: absolute; */
/* overflow: hidden; */
   /*background: rgba(1, 1, 1, 0.3);*/
   /*background-repeat: repeat;*/
}
h2 {
  text-decoration: blink;
  text-align: center;
  /*color: white;*/
  /*border: solid 2px white;
  background-color: white;*/
}
img.resize {
    width: auto; /* you can use % */
    height: auto;
}
/*.background-image{
  overflow: auto;
   position: relative;
  /*filter: grayscale(1);
}*/
.background-image:before{
  content: "";
  overflow: auto;
  left: 0;
 right: 0;
 top: 0;
   position: fixed;
  background-image: url("../img/topography.png");
  width: 100%;
 height: 100%;
 z-index: -1;
   display: block;
    background-repeat: repeat;
    /*filter: grayscale(1);*/
    filter: invert(1) brightness(5) invert(1) drop-shadow(0 0 5px black) ;
  /*filter: grayscale(1);*/
}
#mySidenav.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
  background-image: url("../img/method-draw-image2.svg");
  background-repeat:no-repeat;
 background-size: 100% 100%;
/* //background-size: cover; */
  overflow-x: hidden;
  /*overflow-y:scroll;*/
  /* overflow: hidden;  */
  transition: 1s;
  padding-top: 60px;
	margin-right: 0;
  border-style: solid;
  /*border-color: #32cd32;*/
  border-color: transparent;
  border-width: 3% 3% 3% 3%;
  border-radius:  0 2% 2% 0;
  /*clip-path: polygon(53% 0, 63% 13%, 51% 25%, 50% 100%, 0 100%, 0 0);*/
  /*clip-path: circle(50.0% at 50% 50%);*/
  animation: clips 3s ease infinite;

}
 .sidenav a.closebtn   {
  margin: 8px 0px 0px 0px;
  text-decoration: none;
  font-size: 50px;
  color: transparent;
  /*opacity:0.2;*/
  display: inline-block;
  transition: 0.3s;
  -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
 .sidenav a.closebtn:hover  {
  cursor: pointer;
  color: transparent;
}
.sidenav a {
  /* padding: 8px 40px 8px 32px; */
  margin: 8px 40px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  /*opacity:0.2;*/
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  color: #f1f1f1;
  /*color: #32cd32;*/
  cursor: pointer;
  -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 12px;
  color: transparent;
  font-size: 50px;
  margin-left: 50px;
}
/* #hoveringnot .sidenav .closebtn a:hover { */
  /* position: absolute; */
  /* top: 0; */
  /* right: 12px; */
  /* color: transparent; */
  /* font-size: 50px; */
  /* margin-left: 50px; */
  /* cursor: pointer; */
/* } */

.menubtn{
  background-color: #4CAF50;
  border: solid #4CAF50;
  border-radius: 25% 15% 25% 15%;
  /*padding: 30px 30px 30px 30px;*/
  color: #111;
  margin: 8px 0px 8px 32px;
  padding-right: 8px;
  text-decoration: none;
  font-size: 25px;
  /*opacity:0.2;*/
  /*display: block;*/
  transition: 0.3s;
  cursor: pointer;
}
.newgame, #ngopt {
  /*height: 0%;*/
  /*width: 0%;*/
  padding: 8px 70px 8px 60px;
  text-decoration: none;
  text-align: right;
  font-size: 16px;
  color: #818181;
  /*opacity:0.2;*/
  /*border: solid 2px;*/
  display: none;
  /*transition: 0.3s;*/
}

.savegame {


}
.savegame select {
  color: #818181;
  font-size: 16px;
  /*height:50px;*/
  /*width:100%;*/
  /*overflow:hidden;*/
  /*overflow-y:scroll;*/
  border: solid 2px;
  padding: 4px;
  border-color: #4CAF50;
  background-color: #111;
  border-radius: 5% 5% 5% 5%;
  outline: none;

}
.savegame select:focus {
  color: #818181;
  /*height:50px;*/
  /*width:100%;*/
  /*overflow:hidden;*/
  /*overflow-y:scroll;*/
  border: solid 2px;
  /*padding: 15px;*/
  border-color: #4CAF50;
  background-color: #111;
  border-radius: 5% 5% 5% 5%;
}

.savegame option:hover {
  background-color: green;
   /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);*/
}
.savegame option:active {
  background-color : green;
   /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);*/
}
.savegame option:checked{
  background-color : green;
   /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);*/
}
.okbutton{
  position: relative;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  /*border: #4CAF50;*/
  color: black;
  /*       padding: 0px; */
  font-family: Ubuntu-B, serif;
  font-size: 15px;
  border-radius: 25% 15% 25% 15%;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}
.okbutton::after {
  /*content: '';*/
  position: absolute;
  z-index: -1; /*Make it back of text just in case*/
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.okbutton:hover {
  transform: scale(1.2, 1.2); /*Let's make button bigger*/
}
.okbutton:hover::after {
  opacity: 1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.h2menu{
  /*font-size: 16px*/
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  /*opacity:0.2;*/
  display: block;
  transition: 0.3s;
  /*text-decoration: none;*/
  text-align: left;

}
/*#mainChessBoard*/
  /*{*/
      /*width:320px;*/
      /*height:320px;*/
      /*border:2px solid black;*/
      /*!*border-radius: 20% 20% 20% 20%;*!*/
      /*margin-left: 35%;*/
  /*}*/
#mainChessBoard
{
    width:800px;
    height:800px;
    border:20px solid black;
    border-radius: 2% 2% 2% 2%; /*Curvy edges for board*/
    margin-left: 35%;
    z-index: 5;
    overflow: hidden; /* Hides non-curvy edges of squares*/
    /*position: relative;*/
    display: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.square
{
    width:96px;
    height:96px;
    float:left;
    /*position: absolute;*/
    /*display: inline-block;*/
    z-index: -1;
    /*padding: 2px;*/
    /*position: relative;*/
    /*border-radius: 2% 2% 2% 2%;*/
    /*vertical-align: top;*/
    border: 2px solid #111;

    /* Make elements draggable in old WebKit */
}
.piece {

  width:100px;
  height:100px;
  /*display: block;*/
  margin: auto;
  position: absolute;
  cursor: move;
/*bottom: 50%;*/
/*top: 50%;*/
/*-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);*/

/*Prevent image selecting while dragging mouse*/
/* Make elements draggable in old WebKit */
-khtml-user-drag: element;
-webkit-user-drag: element;



}
/*Disabling selection of text/images to enable better dragging*/
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;


}
.square.over {
  width:92px;
  height:92px;
  float:left;
  background-color: grey;
  /*padding: 2px;*/
  /*position: absolute;*/
  /*display: inline-block;*/
  z-index: -1;
  border: 2px solid rgb(35, 196, 35);
    /*border: 3px solid red;*/
}
