<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MasterChesser</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.structure.css') }}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.theme.css') }}"> -->

</head>
<body>
<div class="background-image"></div>
<div id="mySidenav" class="sidenav unselectable">
    <!-- <h2 class="h2menu"><u>Menu</u></h2> -->
    <a title="Show/hide main menu of the game."class="closebtn" onclick="closeNav()">&times;</a>

    <a id="haha" title="Starts a new game."onclick="ngameOpt('#ngopt')">New Game </a>
    <!-- <input type="button" class="menubtn" onclick="ngameOpt('#ngopt')" value="New Game"> -->
    <div id="ngopt" class="newgame">
        <form>
            VS. A.I <input title="Play versus computer." type="radio" name="ngame" value="vsai" checked><br>
            VS. Player <input title="Play versus another player locally." type="radio" name="ngame" value="vsplayer"><br><br>
            <input type="button" class="okbutton" onclick="chesstable.newGame()" value="Start!">
        </form>
    </div>

    <a title="Saves current game for selected slot."onclick="ngameOpt('#savegame')">Save Game</a>
    <!-- <input type="button" class="menubtn" onclick="ngameOpt('#savegame')" value="Save Game"> -->
    <div id="savegame" class="savegame newgame">
        <select id="savegameselect" size="3">
            <option value
            "savegame1" >Savegame 1 </option>
            <option value
            "savegame2">Savegame 2 </option>
            <option value
            "savegame3">Savegame 3 </option>
            <option value
            "savegame4">Savegame 4 </option>
        </select><br><br>
        <input type="button" class="okbutton" onclick="alert('Game Saved!')" value="OK">
    </div>
    <a title="Select previously saved game to be loaded."onclick="ngameOpt('#loadgame')">Load Game</a>
    <div id="loadgame" class="savegame newgame">
        <select id="loadgameselect" size="3">
            <option value
            "loadgame1" selected>Loadgame 1 </option>
            <option value
            "loadgame2">Loadgame 2 </option>
            <option value
            "loadgame3">Loadgame 3 </option>
            <option value
            "loadgame4">Loadgame 4 </option>
        </select> <br><br>
        <input type="button" class="okbutton" onclick="alert('Game Saved!')" value="OK">
    </div>
    <a title="Settings of the game. Values can be set precisely with arrowkeys after clicking sliders." onclick="ngameOpt('#settings')">Settings</a>
    <div id="settings" class="settings newgame" name="difficulty">
        <div class="row_wrapper">
            <span style="float: left !important;">Difficulty: </span> <select title="Change difficulty of the game. Easy, medium or hard." id ="StyledSelect" style="display: inline-block !important;">
            <option value =
            "easy" selected>Easy </option>
            <option value =
            "medium">Medium </option>
            <option value =
            "hard">Hard </option>
        </select><br>

        </div>
        <div class="row_wrapper">

            <span style="float: left !important;"> Volume: </span>

            <span title="Adjust volume of music. Range 1-100%" id="VolumeValue"></span>



            <div id="Volume" class="SliderPopUp">

                <input type="range" min="1" max="100" value="50" class="slider" id="VolumeSlider" name="rangeInput">


                <!--<input oninput="rangeInput.innerHTML=amount.value"-->
                       <!--id="box" type="text" value="0" name="amount"-->
                       <!--for="rangeInput"  >-->
            </div>
        </div>

   <div class = "row_wrapper">
      <span  style="float: left !important;">Timer: </span> <span title="Adjust lenght of game clock for all players. 5-120min" id="TimerLength" ></span>
        <div id="TimerSlider" class="SliderPopUp">
            <input type="range" min="5" max="120" value="10" class="slider" id="Timer"></div>
          </div>
    <div class = "row_wrapper">
        <span style="float: left !important;">Inc. per turn: </span><span title="Adjust time to be gained after ending turn. Range 0-60s"id="IncreaseAmount"></span>
        <div id="IncreaseSlider" class="SliderPopUp">
            <input type="range" min="0" max="60" value="10" class="slider" id="TimerIncrease">
          </div>
    </div><br>
    
    <input type="button" class="okbutton" onclick="save()" value="Save!">

    </div>
    <a title="Guided gameplay through special cases.">Training</a>

</div>

<!-- <div id="soundcontainer"> -->
<audio id="background_audio" autoplay="autoplay">
    <!-- <embed src="planets.mp3"  autostart="true" loop="true" hidden="true"> -->
    <source src="{{ url_for('static', filename='sound/planets.mp3') }}" type="audio/mpeg"/>
</audio>
<!-- </div> -->

<h2>MasterChesser 2017 </h2> <!-- Using Google Material Design font for Sound icon -->
<div class="wrapper"><div onclick="muteAudio()" title="Mute/unmute music." id="sound_icon" class="material-icons unselectable">&#xE050;</div>
<div title="Hours:Minutes:Seconds" id = "timerWindow" class="unselectable"></div>
</div>
<div title="Pause or continue game." onclick = "pauseGame()" id = "pauseButton" class= "unselectable">Pause</div>
<!-- <div id="svgContainer"></div> -->

<div id="mainChessBoard">
</div>
<div id ="bigterminal" ><span id="TerminalText" ></span></div>
<!-- <svg class="testsvg">
  <use xlink:href="../chesspieces/Chess_bdt45.svg#testsvg"></use>
</svg> -->

<!-- SCRIPT SECTION -->
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; // Global variable for path to the location in server
  </script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chessboard.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
